* {
  margin: 0;
  overflow-x: hidden;
  font-size: 20px;
  font-family: poppins;
}
nav {
  height: 150px;
  width: 100%;
}
ul{
  width: auto;
  margin-top: 10px;
}
li{
  display: inline-flex;
  justify-content: space-evenly;
  padding: 40px 40px;
}
.street {
  color: #6cb840;
}
.food {
  color: #eaab1b;
}
.container {
  height: 75vh;
  width: 100vw;
  background-color: lightgray;
  overflow: auto;
  display: flex;
  flex-direction: column;

}
.container-content{
  width: 25vw;
  height: 75vh;
  margin-left: 25px;
}
/* .navBar {
  display: flex;
  color: black;
  justify-content: space-evenly;
} */
/* .eclipse {
  width: 75vw;
  height: 75vh;
  top: 0;
  right: 0;
  position: absolute;
  background-color: #649549;
  border-bottom-left-radius: 100%;
} */
.eating {
  color: #eaab1b;
}
.eating-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  margin-left: 30%;
} 
.burgers {
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
}
.eat-together {
  display: flex;
}
/* #right{
  text-align: center;
} */
.contact {
  background-color: #ffd77c;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  padding: 0px;
  border-left: 50px;
  display: flex;
  justify-content: center;
}
.contact-content{
  width: 25vw;
  margin-left: 100px;
  padding: 5px;
  align-items: center;  
}
input{
  border-radius: 30px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}
.deals {
  background-color: #c9ecb5;
  padding: 0;
  margin: 0;
}
.left-image {
  width: 100%;
  height: 100%;
}
.image-1 {
  position: absolute;
  left: 0;
  margin-top: 150px;
  margin-left: 100px;
}
.image-2 {
  position: relative;
}
.headings {
  padding: 2px;
  margin: 20px;
  text-align: center;
}
.headings span {
  color: #6cb840;
}
/* .deals img {
  height: 100px;
  width: 100px;
}*/
.deals-content {
  display: flex;
  justify-content: space-between;
}
.button {
  background-color: #5cb840;
  padding: 10px;
  border-radius: 30px;
  border: none;
  margin-bottom: 50px;
}
.left-right {
  float: left;
}
.combo {
  padding-bottom: 0px;
  text-align: left;
  width: 25%;
  height: 25%;
  margin-right: 50px;
  margin-top: 50px;

}
.footer{
  display: flex;
  justify-content: space-between;
  background-color: #C9ECB5;
  margin-top: 20px;
}
.footer{
  padding: 20px;
}
.footer-button{
  background-color: #5cb840;
  padding: 7px;
  border: none;
}