.eating{
    color: #eaab1b;
}
.contact{
    background-color: #ffd77c;
    margin-top: 0px;
    margin-bottom: 0px;
}
.deals{
    background-color: #c9ecb5;
    margin-top: 0px;
    margin-bottom: 0px;
}